/* css used for main page(startup) */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url('Quiz-Banner-8-10-20-1200x630-1.jpg') no-repeat;
    background-size: cover;
    background-position: center; 
}

.nav {
    height: 85px;
    width: 100%;
    background-color: #6c6969;
    position: relative;
  }
.nav > .nav-header {
    display: inline;
  }


.nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 45px;
    font-weight: 550;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 10px 10px 10px;
    margin-left: 25px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(back.png);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}
@keyframes back{
    100%{
        background-position: 2000px 0;
    }
}

.nav > .nav-btn {
    display: none;
  }

  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }

  .nav > .nav-links > ul li a{
    display: block;
    padding: 0 4px;
    color: #fff;
    line-height: 40px;
    font-size: 18px;
    text-decoration: none;

  }
  .nav > .nav-links > ul{
    padding: 0;
    margin-top: 5px;
    list-style: none;
    position: relative;
    
  }
  .nav > .nav-links > ul li{
    padding: 20px;
    display: inline-block;
    background-color: #6c6969;
     
  }

  .nav > .nav-links > ul li:hover{
      background-color: black;
      border-radius: 5px;
  }
  
  .nav > #nav-check {
    display: none;
  }

  .nav .nav-links ul a.icon{
 margin-left: 25px;
 margin-right: 10px;
 }

 .nav .nav-links ul a i{
    background-color: #fff;
    border-radius: 50px;
    padding: 7px;
    margin-left: 5px;
 }

  
  @media (max-width:750px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
    .nav > .nav-links > ul li a {
      display: block;
      width: 100%;
    }

      .nav > .nav-links > ul li{
        display: block;
        margin-bottom: 20px;
        padding: 0;
        background-color: #333;
         
      }
      .nav > .nav-links > ul li a{
          margin-left: 40%;
      }
      .nav .nav-links ul a.icon{
        margin-left: 33%;
      }


        .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }


  .btnlogin-popup {
    width:130px;
    height: 50px;
    background: transparent;
    border:2px solid #fff;
    outline: none;
    border-radius:6px;
    cursor: pointer;
    font-size: 1.1em;
    color:#fff;
    font-weight: 500;
}

.btnlogin-popup:hover {
    background: #fff;
    color: #162938;
}

.row{
    display: flex;
    align-items: left;
    flex-wrap: wrap;
 }

 .col-2 {
  margin-left: 38px;
  flex-basis: 10%;
  min-width: 300px;
}
 .col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
 }
 .col-2 p{
    font-size: 20px;
    line-height: 30px;
    margin: 25px 0;
 }
 footer {
    background-color: #6c6969;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: inline;
    z-index: 999;
  }
                        
  footer img {
      float:left;
    height: 50px;
    width: auto;
    margin-left: 20px;
  }
  footer i {
      float: left;
      margin: 0; 
      font-size: 15px;
      line-height: 50px;
      margin-left: 22px;
  }
  footer p {
    float: right; 
    margin: 0;
    font-size: 18px;
    line-height: 50px;
  }

@media (max-width: 768px) {
  
  .footer-content {
    padding-bottom: 20px;
  }
}
@media (max-width: 750px) {
 .nav > .nav-header > .nav-title{
    font-size: 33px;
  }
}
